<template>
  <div class="terminal">
      <h1>欢迎使用博客系统</h1>
  </div>
</template>
<style>
    .terminal{font-size:30px;font-weight:bold;text-align: center;}
    .terminal h1{line-height: 300px;margin:0;}
</style>
